@import 'https://fonts.googleapis.com/css?family=Muli:300,400';
html {
	padding: .3rem .5rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: normal;
}

body {
	/*background: #e4e4e4;*/
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: normal;
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
}

#blurred-bg {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 99;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	background-image: url();
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
}

#blurred-box {
	position: relative;
	z-index: 100;
	padding: 20px;
	background: rgb(255, 255, 255);
	/* IE fallback */
	background: rgba(255, 255, 255, .3);
}

#page-title {
	text-align: center;
}

#share {
	text-align: left;
}

#author {
	text-align: right;
}

#main-content {
	display: table;
	width: 100%;
}

#form-wrapper,
#message-wrapper {
	display: table-cell;
	vertical-align: middle;
}

#message-wrapper {
	position: relative;
	display: none;
}