@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

// breakpoint for tablet and up
$md-screen: 768px;

$header-color: red;
$primary-color: #498467;
$secondary-color: #A6D3A0;
$border-color: #ccc;

$header-font: 'Catamaran', Helvetica, sans-serif;


body {
	margin: 0;
	background: url(../assets/default.jpg) no-repeat top left / cover;
	transition: all 0.5s ease-out;
	// need to make all images same size
}

#overlay {
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
}

header {
	@include grid-row();
	
	h1 {
		@include grid-column(12);
		font-family: $header-font;
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
		color: white;
	}
}

section {
	@include grid-row();
}

#main {
	#form {
		@include grid-column(12);
	}
}

#message {
	.compliment {
		@include grid-column(7);
		font-family: $header-font;
		font-size: 2rem;
		line-height: 2rem;
		font-weight: 700;
		color: white;
		text-transform: uppercase;
	}
	
	.title {
		@include grid-column(12);
	}
	
	#next {
		@include grid-column(12);
	}
}