@import 'https://fonts.googleapis.com/css?family=Muli:300,400';

html {
	padding: .3rem .5rem;
}

body {
	background: #e4e4e4;
	color: #02027D;
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: normal;
	background-size: cover;
	background-repeat: no-repeat;
}

h1, h2, h3, h4, h5 {
	font-family: 'Muli', Helvetica, sans-serif;
	font-weight: normal;
}

#page-title {
	text-align: center;
}

#share {
	text-align: left;
}

#author {
	text-align: right;
}

#form-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

#name-input {
	display: table-cell;
	vertical-align: middle;
}


/*

.formWrap {
	display: table;
	position: relative;
}

.form {
	display: table-cell;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
	text-align: center;
	width: 100%;
	height: 170px;
}



*/

/*
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	-webkit-appearance: none;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}


.input--kyo {
	z-index: auto;
}

.input__field--kyo {
	padding: 0 1.5em;
	width: 100%;
	border-radius: 2em;
	border: 1px solid #b212ac;
	background: #fff;
	color: #1a1a1a;
	margin-bottom: 0;
}

.input__label--kyo {
	z-index: 0;
	padding: 0;
	width: 100%;
}

.input__label--kyo::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	color: #fff;
	background: rgba(178, 18, 172, 0.6);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
}

.input__label-content--kyo {
	padding: 0.5em 0;
}

.input__field--kyo:focus,
.input__field--kyo:focus +  .input__label--kyo .input__label-content--kyo {
	z-index: 10000;
}

.input__field--kyo:focus + .input__label--kyo {
	color: #fff;
}

.input__field--kyo:focus + .input__label--kyo::after {
	opacity: 1;
	color: #fff;
	border: 1px solid #b212ac;
}
*/